/* Information about the author 

Jenna Lawrence is a UX researcher and product designer.
She spends most of her days glued to her computer making people and products look good.
When shes not on her computer you can find her doing one of her 500 different hobbies
She also enjoys talking to her pets and plants ;)

Yes this document was written by hand
Everything you see here is Copyright © 2023 Jenna Lawrence. All rights reserved.

*/

/* css reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* MY STYLES */

/*smooth scroll behaviour*/

html {
	scroll-behavior: smooth;
}

/*for accessiblility: disable smooth scrolling when users have prefers-reduced-motion enabled*/
 @media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/*body*/

body {
    background-color: #ffffff;
    color: #434343;
    margin: 0px;
}

/*typography*/
h1 {
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-size: 48px;
    font-weight: 400;
    line-height: 66px;
}
h2 {
    font-family: 'Work Sans', sans-serif;
    color: #434343;
    font-size: 48px;
    font-weight: 400;
    line-height: 66px;
    padding-bottom: 32px;
}
h3 {
    font-family: 'Work Sans', sans-serif;
    color: #434343;
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 16px;
}
h4 {
    font-family: 'Work Sans', sans-serif;
    color: #9c9c9c;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 16px;
    padding-bottom: 16px;
}
p {
    font-family: 'Work Sans', sans-serif;
    color: #434343;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 32px;
    line-height: 23px;
}
a {
    font-family: 'Work Sans', sans-serif;
    color: #00A3FF;
    text-decoration: none;
}
a:hover {
    color: #66C8FF;
}
ul {
    font-family: 'Work Sans', sans-serif;
    color: #434343;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    list-style-position: outside;
    margin-left: 20px;
    padding: 0;
    list-style-type: disc;
}
li {
    font-family: 'Work Sans', sans-serif;
    color: #434343;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
}
.italics {
    font-style: italic;
}
/*typography for mobile screen sizes less than 320px wide*/
@media screen and (max-width: 320px) {
    h1 {
        font-family: 'Work Sans', sans-serif;
        color: #fff;
        font-size: 32px;
        font-weight: 400;
        line-height: 48px;
    }
    h2 {
        font-family: 'Work Sans', sans-serif;
        color: #434343;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-bottom: 32px;
    }
  }

/*SECTIONS*/

/*hero*/
.hero {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 0px 30px;
    background-color: #232445;
    padding-top: 100px;
}
.hero-text {
    grid-column-start: 3;
    grid-column-end: 8;
}
.hero-image {
    grid-column-start: 8;
    grid-column-end: 12;
    width: 432px;
    height: auto;
    position:relative;
}
/*hero for mobile screen sizes less than 320px wide*/

@media screen and (max-width: 320px) {
    .hero {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 0px 30px;
        background-color: #232445;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .hero-text {
        grid-column-start: 2;
        grid-column-end: 11;
    }
    .hero-image {
        display: none;
    }
  }

/*navigation*/
.nav-bar {
    display: flex;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 0px 0px;
    background-color: #EFA84D;
    color: #000;
    font-family: 'Work Sans', sans-serif;
    place-items: center;
    justify-items: center;
    text-align: center;
    justify-content: center;
}
.nav-bar a {
    font-family: 'Work Sans', sans-serif;
    color: #000;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.nav-bar a:hover {
    font-family: 'Work Sans', sans-serif;
    color: #5b5b5b;
    text-decoration: none;
    background-color: #FFBB64;
}

/*navigation for mobile screen sizes less than 320px wide*/
@media screen and (max-width: 320px) {
    .nav-bar {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        gap: 0px 0px;
        background-color: #EFA84D;
        color: #000;
        font-family: 'Work Sans', sans-serif;
        place-items: center;
        justify-items: center;
        text-align: center;
        justify-content: center;
    }
    .nav-bar a {
        font-family: 'Work Sans', sans-serif;
        color: #000;
        text-decoration: none;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: #ffc06d;
        border-style: solid;
        width: 100%;
    }
}

/*intro*/
.intro {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 0px 30px;
    background-color: #fff;
    padding-top: 64px; 
    padding-bottom: 64px;
    text-align: center;
}
.intro h2 {
    grid-column-start: 4;
    grid-column-end: 10;
}
.intro > p {
    grid-column-start: 4;
    grid-column-end: 10;
}
.intro-badges {
    grid-column-start: 3;
    grid-column-end: 11;
    padding-bottom: 32px;
}
.intro-badges img {
    width: 56px;
    height: 56px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 16px;
}
.intro-experience {
    grid-column-start: 3;
    grid-column-end: 7;
    text-align: left;
    padding-bottom: 64px;
}
.intro-experience-example {
    grid-column-start: 7;
    grid-column-end: 11;
    padding-left: 32px;
}
.intro-experience-example img {
    width: 362px;
    height: 296px;
    padding-top: 32px;
}
.intro-experience-example p {
    text-align: left;
    font-size: 12px;
    line-height: 16px;
}
.intro-logos {
    display: flex;
    grid-column-start: 3;
    grid-column-end: 11;
    align-items:center;
    place-items: center;
    justify-items: center;
    text-align: center;
    justify-content: center;
}
.intro-logos img {
    padding-left: 16px;
    padding-right: 16px;
    align-items:center
}
.hoc-img {
    width: 126.94px;
    height: 80px;
}
.cibc-img {
    width: 100px;
    height: 25.35px;
}
.crea-img {
    width: 100px;
    height: 36.29px;
}
.cnl-img {
    width: 120px;
    height: 23.2px;
}
.ix-img {
    width: 60px;
    height: 40.89px;
}
.ibm-img {
    width: 80px;
    height: 32.1px;
}

/*intro for mobile screen sizes less than 320px wide*/

@media screen and (max-width: 320px) {
    .intro {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 0px 30px;
        background-color: #fff;
        padding-top: 48px; 
        padding-bottom: 48px;
        text-align: left;
    }
    .intro h2 {
        grid-column-start: 2;
        grid-column-end: 11;
    }
    .intro > p {
        grid-column-start: 2;
        grid-column-end: 11;
    }
    .intro-badges {
        grid-column-start: 2;
        grid-column-end: 11;
        padding-bottom: 32px;
    }
    .intro-badges img {
        width: 48px;
        height: 48px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 16px;
    }
    .intro-experience {
        grid-column-start: 2;
        grid-column-end: 11;
        text-align: left;
        padding-bottom: 0px;
    }
    .intro-experience-example {
        grid-column-start: 2;
        grid-column-end: 11;
        padding-left: 0px;
    }
    .intro-experience-example img {
        width: 252px;
        height: 206px;
        padding-top: 0px;
    }
    .intro-experience-example p {
        text-align: left;
        font-size: 12px;
        line-height: 16px;
    }
    .intro-logos {
        display: grid;
        grid-column-start: 2;
        grid-column-end: 11;
        justify-items: center;
        text-align: center;
        justify-content: center;
    }
    .intro-logos img {
        padding-left: 0px;
        padding-right: 8px;
        padding-bottom: 32px;
        align-items:center;
    }
    .hoc-img {
        width: 108px;
        height: 68px;
    }
    .cibc-img {
        width: 100px;
        height: 25.35px;
    }
    .crea-img {
        width: 100px;
        height: 36.29px;
    }
    .cnl-img {
        width: 120px;
        height: 23.2px;
    }
    .ix-img {
        width: 60px;
        height: 40.89px;
    }
    .ibm-img {
        width: 80px;
        height: 32.1px;
    }
  }

/*process*/
.process {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 0px 30px;
    background-color: #F8F8F8;
    padding-top: 64px; 
    padding-bottom: 64px;
    text-align: center;
}
.process h2 {
    grid-column-start: 4;
    grid-column-end: 10;
}
.process > p {
    grid-column-start: 4;
    grid-column-end: 10;
}
.process > .steps {
    grid-column-start: 2;
    grid-column-end: 12;
    display: flex;
    padding-top: 32px;
    text-align: center;
    justify-content: center;
}
.bucket {
    margin-right: 32px;
    margin-left: 32px;
    text-align: center;
}
.bucket p {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
}

/*process for mobile screen sizes less than 320px wide*/

@media screen and (max-width: 320px) {
    .process {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 0px 30px;
        background-color: #F8F8F8;
        padding-top: 48px; 
        padding-bottom: 48px;
        text-align: left;
    }
    .process h2 {
        grid-column-start: 2;
        grid-column-end: 11;
    }
    .process > p {
        grid-column-start: 2;
        grid-column-end: 11;
    }
    .process > .steps {
        grid-column-start: 2;
        grid-column-end: 11;
        display: grid;
        padding-top: 16px;
        text-align: center;
        justify-content: center;
    }
    .bucket {
        margin-right: 16px;
        margin-left: 16px;
        text-align: center;
    }
    .bucket p {
        text-align: center;
        font-size: 12px;
        line-height: 16px;
    }
}

/*connect*/
.connect {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 0px 30px;
    background-color: #fff;
    padding-top: 64px; 
    padding-bottom: 64px;
    text-align: center;
}
.connect  h2 {
    grid-column-start: 4;
    grid-column-end: 10;
}
.connect > p {
    grid-column-start: 4;
    grid-column-end: 10;
}

/*connect for mobile screen sizes less than 320px wide*/
@media screen and (max-width: 320px) {
    .connect {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 0px 30px;
        background-color: #fff;
        padding-top: 48px; 
        padding-bottom: 48px;
        text-align: left;
    }
    .connect  h2 {
        grid-column-start: 2;
        grid-column-end: 11;
    }
    .connect > p {
        grid-column-start: 2;
        grid-column-end: 12;
    } 
}

/*testimonials*/
.testimonials {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 0px 30px;
    background-color: #e7f6f3;
    padding-top: 64px; 
    padding-bottom: 64px;
    text-align: center;
}
.testimonials  h2 {
    grid-column-start: 4;
    grid-column-end: 10;
}
.testimonials > p {
    grid-column-start: 4;
    grid-column-end: 10;
}
.quote {
    grid-column-start: 2;
    grid-column-end: 12;
    display:flex;
    text-align: left;
    padding-top: 48px;
    align-items: flex-start;
    justify-content: flex-start;
}
.quote-text-right {
    padding-right: 200px;
}
.quote-text-left {
    padding-left: 200px;
}
.quote p {
    padding-bottom: 16px;
}
.quote > img {
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
}

/*testimonials for mobile screen sizes less than 320px wide*/

@media screen and (max-width: 320px) {
    .testimonials {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 0px 30px;
        background-color: #e7f6f3;
        padding-top: 32px; 
        padding-bottom: 32px;
        text-align: left;
    }
    .testimonials  h2 {
        grid-column-start: 2;
        grid-column-end: 11;
    }
    .testimonials > p {
        grid-column-start: 2;
        grid-column-end: 11;
    }
    .quote > img {
        display: none;
    }
    .quote {
        grid-column-start: 2;
        grid-column-end: 11;
        display:flex;
        text-align: left;
        padding-top: 0px;
    }
    .quote-text-right {
        padding-right: 0px;
    }
    .quote-text-left {
        padding-left: 0px;
    }

}

/*footer*/
.footer {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 0px 30px;
    background-color: #232445;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    border-top: 8px solid #EFA84D;
    stroke-width: 8px;
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: left;
}
.footer-left {
    grid-column-start: 3;
    grid-column-end: 5;
    text-transform: uppercase;
    padding-top: 8px;
}
.footer-left img{
    padding-top: 8px;
}
.footer-links {
    grid-column-start: 5;
    grid-column-end: 7;
    border-left: 1px solid #464766;
    padding-left: 32px;
}
.footer-links a {
    padding-bottom: 16px;
    line-height: 32px;
    color: #fff;
}
.footer-links a:hover {
    color:#66C8FF;
}
.footer-quote {
    grid-column-start: 7;
    grid-column-end: 12;
    line-height: 22px;
    border-left: 1px solid #464766;
    padding-left: 32px;
}
.footer-quote p {
    color: #fff;
    padding-bottom: 0px;
}
.footer-quote img{
    padding-top: 16px;
}

/*testimonials for mobile screen sizes less than 320px wide*/

@media screen and (max-width: 320px) {

}

/*copyright*/
.copyright {
    background-color: #464766;
    color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
}
.copyright > p{
    font-size: 12px;
    color: #D9D9D9;
    text-align: center;
    line-height: 16px;
    padding-bottom: 0px;
}
/*images*/
.bio-pic {
    width: 80px;
    stroke-width: 4px;
    border-radius: 50%; 
    border: 4px solid #6A19CF;
}
