/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Jenna Lawrence research and product design
VERSION:	Version 1
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
1. variable
2. mixins
3. typography
4. buttons
5. preloader
6. overlay
7. icons
8. slick slider
9. form
10. card
11. testimonial <- not used
12. footer

-------------------------------------------------------------------*/

/* variables
:root {
    --primary-color: #41228e;
    --secondary-color: #2bfdff;
    --text-color: #4c4c4c;
    --text-color-dark: #000;
    --text-color-light: #999;
    --text-color-lightest: #fff;
    --body-color: #fff;
    --border-color: #c7c7c7;
    --black: #000;
    --white: #fff;
    --gray: #eaeaea;
    --primary-font: 'Sen', sans-serif;
    --secondary-font:  'Sen', sans-serif;
    --icon-font: 'themify';
}
 */

/* mixins */
@mixin mobile-xs{
    @media(max-width:400px){
      @content;
    }
  }
  @mixin mobile{
    @media(max-width:575px){
      @content;
    }
  }
  @mixin tablet{
    @media(max-width:767px){
      @content;
    }
  }
  @mixin desktop{
    @media(max-width:991px){
      @content;
    }
  }
  @mixin desktop-lg{
    @media(max-width:1200px){
      @content;
    }
  }
  
  @mixin size($size){
    width: $size; height: $size;
  }

/*  typography */
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');
/*font-family: 'Sen', sans-serif;*/

body {
  line-height: 1.2;
  font-family: 'Sen', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #4c4c4c;
}

p {
  font-weight: 400;
  color: #4c4c4c;
  font-size: 15px;
  line-height: 1.8;
  font-family: 'Sen', sans-serif;
}
p-lg{
    font-size: 22px;
}


h1,h2,h3,h4,h5,h6 {
  color: #000;
  font-family: 'Sen', sans-serif;
  line-height: 1.2;
}

h1, .h1{
  font-size: 80px;
}
/*
h1, .h1 {
  @include desktop;
  font-size: 65px;
}
*/

h2, .h2{
  font-size: 60px;
}
/*
h2, .h2{
  @include desktop;
  font-size: 50px;
}
*/
h3, .h3{
  font-size: 40px;
}

h4, .h4{
  font-size: 22px;
}

h5, .h5{
  font-size: 18px;
}

h6, .h6{
  font-size: 14px;
}

/* buttons */
.btn {
    font-size: 22px;
    font-family:  'Sen', sans-serif;
    text-transform: capitalize;
    padding: 16px 44px;
    border-radius: 5px;
    font-weight: 600;
    border: 0;
    position: relative;
    z-index: 1;
    transition: .2s ease;
}  
.btn:focus {
    outline: 0;
    box-shadow: none !important;
}
.btn:active {
    box-shadow: none;
    }
  
.btn:active-sm {
      font-size: 15px;
      padding: 10px 30px;
    }
  
.btn:active-xs {
      padding: 5px 10px;
      font-size: 15px;
    }

  
.btn-primary {
    background: #41228e !important;
    color: #fff;
}
.btn-primary:focus {
      background: #812ec6 !important;
}
  
.btn-primary:hover {
      background: #812ec6 !important;
}
  
.btn-primary:active {
      background: #812ec6 !important;
      box-shadow: none !important;
}

  body {
    background-color: #fff;
    overflow-x: hidden;
  }
  
  ::selection {
    background: #812ec6;
    color: #fff;
  }
  
  /* preloader */
  
  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ol,
  ul {
    list-style-type: none;
    margin: 0px;
  }
  
  img {
    vertical-align: middle;
    border: 0;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a,
  button,
  select {
    cursor: pointer;
    transition: .2s ease;
  }
  a,
  button,
  select:focus {
    outline: 0;
  }
  
  a.text-dark:hover{
      color: #41228e !important;
  }
  
  a:hover {
    color: #41228e;
  }
  
  .slick-slide {
    outline: 0;
  }
  
  .contentblock {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  /* .contentblock.title {
      margin-bottom: 80px;
      font-family:  'Sen', sans-serif;
  }
  
  
  .bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  } */
  
  /* overlay */
  
  .overlay {
    position: relative;
  }
  .overlay::before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: #000;
      opacity: .5;
  }
  
  
  .outline-0 {
    outline: 0 !important;
  }
  
  .d-unset {
    display: unset !important;
  }
  
  .bg-primary {
    background: #41228e !important;
  }
  
  .bg-gray{
    background: #eaeaea !important;
  }
  
  .text-primary {
    color: #41228e !important;
  }
  
  .text-color {
    color: #4c4c4c;
  }
  
  .text-dark {
    color: #000 !important;
  }
  
  .text-light {
    color: #999 !important;
  }
  
  .mb-10 {
    margin-bottom: 10px !important;
  }
  
  .mb-20 {
    margin-bottom: 20px !important;
  }
  
  .mb-30 {
    margin-bottom: 30px !important;
  }
  
  .mb-40 {
    margin-bottom: 40px !important;
  }
  
  .mb-50 {
    margin-bottom: 50px !important;
  }
  
  .mb-60 {
    margin-bottom: 60px !important;
  }
  
  .mb-70 {
    margin-bottom: 70px !important;
  }
  
  .mb-80 {
    margin-bottom: 80px !important;
  }
  
  .mb-90 {
    margin-bottom: 90px !important;
  }
  
  .mb-100 {
    margin-bottom: 100px !important;
  }
  
  .zindex-1 {
    z-index: 1;
  }
  
  .rounded-lg{
    border-radius: 15px;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .font-secondary {
    font-family:  'Sen', sans-serif !important;
  }
  
  .font-tertiary {
    font-family:  'Sen', sans-serif !important;
  }
  
  .shadow {
    box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34) !important;
  }
  
  .bg-dark{
    background-color: #222222 !important;
  }
  
  /* icon */
  .icon {
    font-size: 45px;
  }
  
  .icon-bg {
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
  }
  
  .icon-light {
    color: #c8d5ef;
  }
  
  /* form */
  .form-control{
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #c7c7c7;
    height: 60px;
  }
  .form-control:focus{
      border-color: #41228e;
      outline: 0;
      box-shadow: none !important;
  }
  textarea.form-control{
    height: 120px;
  }
  
  /* card */
  .card{
    border: 0;
  }
  .card-header{
      border: 0;
  }
  .card-footer{
      border: 0;
  }
  .hero-area {
    padding: 100px 0 200px;
    position: relative;
  }
  /*
  .hero-area {
    @include tablet;
    padding: 250px 0 150px;
    overflow: hidden;
  }
  */
  .hero-area h1 {
      position: relative;
      z-index: 2;
      color: #fff;
  }
  
  .layer {
    position: absolute;
    z-index: auto;
  }
  
  #l1 {
    bottom: 0;
    left: 0;
  }
  
  #l2 {
    top: 190px;
    left: -250px;
  }
  
  #l3 {
    top: 20px;
    left: 5%;
  }
  
  #l4 {
    top: 40px;
    right: 40%;
  }
  
  #l5 {
    top: 100px;
    right: -150px;
  }
  
  #l6 {
    bottom: -20px;
    left: 10%;
  }
  
  #l7 {
    bottom: 100px;
    left: 20%;
  }
  
  #l8 {
    bottom: 60px;
    right: 20%;
  }
  
  #l9 {
    bottom: 100px;
    right: -10px;
  }
  
  .layer-bg {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  /* testimonial 
  .testimonial-content {
    strong {
      color: #2bfdff);
      font-weight: normal;
    }
  }
  .testimonial-bg-shapes {
    .container {
      position: relative;
      z-index: 1;
    }
  
    .bg-map {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  
    .bg-shape-1 {
      position: absolute;
      left: 100px;
      top: -50px;
    }
  
    .bg-shape-2 {
      position: absolute;
      right: 150px;
      top: 50px;
    }
  
    .bg-shape-3 {
      position: absolute;
      right: 50px;
      top: 200px;
    }
  
    .bg-shape-4 {
      position: absolute;
      left: 100px;
      bottom: 200px;
    }
  
    .bg-shape-5 {
      position: absolute;
      right: 200px;
      bottom: -50px;
    }
  }
  */

  
  /* footer */
  .footer-section {
    padding-top: 200px;
  }
  
  .contactform {
    margin-bottom: -250px;
    background-image: url("../images/backgrounds/bg-dots.png");   
  }
  
  .shadow-down {
    position: relative;
  }
  .shadow-down ::before {
      position: absolute;
      content: "";
      box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.19), 0 6px 20px 0 rgba(177, 177, 177, 0.19);
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: -1;
  }
  
  
  /* /footer */